/* .kukur{
    background-color: blue;
} */
.main__pretrained_option{
    display: flex;
    margin-left: 36px;
  }
.classi__menu_item_pretrend{
    /* border: 1px solid red; */
    margin-top: 6rem;
    margin-left: 44px;
}
.sub_page__process_Invoice_background{
    background: #E2E6FF !important;
    border-radius: 60px 60px 0px 0px !important;
    /* width: 100%; */
}

.invoice_heading{
  /* color: #8995A7; */
  font-size: 20px;
  /* margin-top: 24px; */
  font-weight: 600; 
} 

.invoice_pageAmount{
  color: #8995A7;
  font-size: 12px;
  font-weight: bold;

}

h2 {
  font-size: 72px;
  background: linear-gradient(90deg, #8852FA 0%, #61A0FF 33.5%);  
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.stepper_navigationBar{
  /* float: left; */
  /* margin-top: 12rem; */
  margin-left: 44px;
  width: 92%;
  background: #fff;
  border-radius: 26px;
  height: 44px;
  display: flex;
}

.stepperNavigation_title{
  font-size: 16px;
  background: linear-gradient(270.07deg, #B998FF 0.04%, #ACCDFF 99.13%);
  height: 44px;
  border-radius: 26px;
  color:#fff;
  padding: 10px;
  padding: 10px;
  cursor: pointer;
}

.modelConf__title{
  margin-left: 96px;
  margin-top: 10px;
  color: #9384B2;
  font-weight: 600;
  cursor: pointer;
  
}